body{
  font-family: Arial, Helvetica, sans-serif;
}

.row {
    border: 1px solid lightgray;
    padding: 10px
  } 
  
  .top-left {
position: relative;
top: -40px;
left: 85px;
width: 75%;
margin-top: -5rem;
}
  .bottom-right {
position: relative;
top: -195px;
left: 110px;
width: 65%;
}
  .image-right {
position: relative;
left: 80px;
top: 20px;
}
  .navbar-custom {
    background-color: #032E7A;
      }


.navbar-custom .nav-item .nav-link{
    color: gold;
    position: relative;
  
} 
.navbar-custom .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link{
    color: rgb(255, 253, 244);
}
.navbar-nav .active{
    color :#ffaa00  !important;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #FDAD09 !important;
} 

img.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

  }
  
img.myImg:hover {opacity: 0.7;}

h1{
  display: block;
  font-size: 1.7em;
  color:#032E7A;
  }

h1.elso{
display: block;
font-size: 1.7em;
color:#032E7A;
margin-left: 80px;
margin-bottom: -8px;
margin-top: -1.7rem;
}
h1.kerdoiv{
display: block;
font-size: 1.7em;
color:#032E7A;
margin-top: 2rem;
margin-bottom: 1rem;
text-align: center;
}

h1.masodik{
display: block;
margin-left: 150px;
margin-bottom: -8px;
font-size: 1.7em;
color:#032E7A;
}
h1.mOldal{
display: block;
margin-left: 100px;
margin-top: 15px;
margin-bottom: 15px;
font-size: 3em;
color: rgb(56, 56, 56);
}
h1.ArenaKozep{
margin-bottom: 3rem;
margin-top: 2rem;
display: block;
font-size: 3rem;
color:#032E7A;
text-align: center;
}

h2.ArenaBal{
display: block;
font-size: 1.7em;
color:#032E7A;
margin-left: 80px;
margin-top: 80px;
margin-bottom: -60px;
}
h2.ArenaJobb{
display: block;
font-size: 1.7em;
color:#032E7A;
}

p.kerdo{
  font-size: 0.8rem;
  text-align: center;
}

p.sarga {
color:#000000;
-webkit-text-stroke: 1px #FDAD09;
font-size: 0.8em;
text-align: justify;
font-style: italic;
}

p.kek{
color: #032E7A;
font-size: 0.8em;
text-align: justify;
font-style: italic;
}
p.ArenaElso{
font-size: 1em;
text-align: justify;
font-style: italic;
margin-top:-115px;
border:1px; border-style:solid; border-color:black; padding: 0.2em;
}
p.ArenaKetto{
font-size: 1em;
text-align: justify;
font-style: italic;
max-width: 400px;
min-width: 350px;
margin-left: -120px;
margin-top: 30px;
border:1px; border-style:solid; border-color:black; padding: 0.2em;
}


details > summary {
    padding: 4px;
    width: 150px;
    background-color: #032f7a67;
    border: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
}

details > p {
    background-color: #032f7a67;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }

  footer > p {
    color: #032E7A;
    text-align: end;
    margin-right: 50px;
  }

#tablazat caption{
    text-align: center;
}

#tablazat {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  #tablazat td, #tablazat th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tablazat tr:nth-child(even){background-color: #f2f2f2;}

  #tablazat tr:hover {background-color: #ddd;}
  
  #tablazat th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #032E7A;
    color: white;
  }

img.indexEgy{
  width: 700px;
  min-width: 450px;
}

img.indexKetto{
  width: 150px;
}

video.team{
  width:560px;
  height:315px;
  min-width: 400px;
}

img.triangle{
    margin-top: 45px;
    opacity: 0.25;
    Width: 600px;
    min-width: 450px;
}
img.blueF{
     width: 500px;
    opacity: 1;
}

img.oracle{
    margin-top: 30px;
}
img.blocks{
    width: 400px;
    margin-top: 70px;
    margin-left: -20px;
}

img.chase{
min-width: 400px;
}

  p.arena{
    border: 1px;
}

h1.xh{
  margin-left: 9rem;
  margin-top:8rem;
  margin-bottom: -5rem;
}

p.x{
  text-align: justify; width: 80%; margin-left: auto; margin-right: auto;
  color:#a06b00;
  margin-top: 5rem;
  font-size: 1.4rem;
  border:#032E7A solid 1px;
  padding: 3px;
}
p.szoveg{
  margin-top: 8px;
  text-align: center;
}

img.vida{
  align-content: center;
  margin-left: 22%;
  margin-right: 22%;
  margin-bottom: -35rem;
  width: 56%;
  min-width: 400px;
}

#stats{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px #aaaaaa solid;
  width: 90%;
  text-align: center;

}
#stats > thead {
  background-color:#1d428a;
  color:rgb(255, 253, 244);
}

#stats > td  {
  border: 1px #5e5e5e solid;
}

#stats td:nth-child(1):hover {background-color: rgb(221, 221, 221);}

a:visited{
  color:#032E7A;
}
a{
  color: #005eff;
}

#stats td, #stats th {
  border: 1px solid #ddd;
}
div > form{
  text-align: center;
}

div.leftForm{
  border-right: black solid 1.5px;
}

.skip-nav{
  position: absolute;
  background: rgba(0, 0, 0, 0.479);
  padding: 1rem;
  color: white;
  left: 1rem;
  transform: translateY(-500%);
}

.skip-nav:focus{
  transform: translateY(0);
  z-index: 1100;
  transition: transform 0.5s;
}

figcaption{
  font-size: 0.2em;
  text-align: center;
}

h2.caour{
  color: #032E7A;
  font-size: 1.5rem;
  text-align: center;
}

